h1{
    font-size: 30px;
    margin: 0px 0px 0px 130px;
}

#bloc{
    margin: 10px 0px 0px 130px;
    background-color: gray;
    block-size: 200px;
    
}

h2{
    font-size: 30px;
    margin: 40px 0px 0px 130px;
}

#port{
    margin: 10px 0px 0px 130px;
    border: black;
    

}

#port2{
    margin: 10px 0px 0px 130px;
    border: black;
}

#block3{
    margin: 100px 0px 0px 160px;
    background-image: no-repeat;
}